<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <form th:object="${rental}" th:onsubmit="${submit}" class="form-horizontal" id="rentalForm">
        <input type="hidden" name="rentalEnd" th:value="${end}" />
        <input type="hidden" name="finalized" th:value="true" />
        <div class="form-group">
            <label class="control-label col-sm-4" th:for="comment">Megjegyzés</label>
            <div class="col-sm-8">
                <textarea th:field="*{comment}" rows="3" class="form-control" placeholder="Megjegyzés..."></textarea>
            </div>
        </div>
    </form>
</html>