<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="rental-table">

    <table id="rental-table" class="display">
        <thead>
        <tr>
            <th>Hajó</th>
            <th>Legénység</th>
            <th>Kormányos</th>
            <th>Bérlés kezdete</th>
            <th>Bérlés vége</th>
            <th>Cél</th>
            <th>Megjegyzés</th>
            <th>Műveletek</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
</html>