<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="rentalModalLabel">Hajóbérlés befejezése</h4>
</div>

<div class="modal-body">
    <form th:object="${finalRental}"  th:action="@{${link}}" method="post" class="form-horizontal" id="rentalForm">
        <div class="form-group">
            <label class="control-label col-sm-4">Megjegyzés</label>
            <div class="col-sm-8">
                <textarea th:field="*{comment}" rows="3" class="form-control" placeholder="Megjegyzés..."></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Távolság (km)</label>
            <div class="col-sm-8">
                <input th:field="*{distance}" type="number" class="form-control" min="1" required="required"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Hajó sérülés</label>
            <div class="checkbox col-sm-8">
                <label><input id="injuredShip" type="checkbox"
                      th:field="*{injuredShip}"
                      th:value="*{chosenShip.getId()}"
                      th:text="*{chosenShip.getName()}"/></label>
            </div>
            <label class="control-label col-sm-4">Lapát sérülés</label>
            <div class="col-sm-8">
                <select th:field="*{injuredOars}" id="injuredOars" class="form-control" multiple="multiple">
                    <option th:each="oar : *{oars}"
                            th:value="${oar.getId()}"
                            th:text="${oar.getName()}"/>
                </select>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <label style="display:none" id="validateInjuriesLabel">
        <input type="checkbox" id="validateInjuriesCheck"/>
        Sérülések megerősítése
    </label>
    <button type="submit" id="rentalSubmit" class="btn btn-primary" form="rentalForm">Befejezés</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Mégse</button>
</div>
</html>