<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="rentalModalLabel">Bérlés részletei</h4>
</div>

<div class="modal-body">
    <dl class="row" th:object="${rental}">
        <dt class="col-sm-3">Kapitány</dt>
        <dd class="col-sm-9" th:text="*{captain.getLastName()+' '+captain.getFirstName()}">Kapitány</dd>

        <dt class="col-sm-3">Hajó</dt>
        <dd class="col-sm-9" th:text="*{chosenShip.getName()}">Hajó</dd>

        <dt class="col-sm-3">Bérlés kezdete</dt>
        <dd class="col-sm-9" th:text="*{#dates.format(rentalStart, 'yyyy.&nbsp;MM.&nbsp;dd.&nbsp;HH:mm')}">Bérlés kezdete</dd>

        <dt class="col-sm-3">Bérlés vége</dt>
        <dd class="col-sm-9" th:text="*{(rentalEnd != null) ? #dates.format(rentalEnd, 'yyyy.&nbsp;MM.&nbsp;dd.&nbsp;HH:mm') : 'Bérlés még folyamatban'}">Bérlés vége</dd>

        <dt class="col-sm-3">Bérlés időtartama</dt>
        <dd class="col-sm-9" th:text="*{rentalPeriod+' perc'}">Bérlés időtartama</dd>

        <dt class="col-sm-3">Kormányos</dt>
        <dd class="col-sm-9" th:text="*{cox!=null?cox.getLastName()+' '+cox.getFirstName():'nincs adat'}">Kormányos</dd>

        <dt class="col-sm-3">Legénység</dt>
        <dd class="col-sm-9" th:utext="${#strings.replace(#strings.escapeXml(crewDetails),T(java.lang.System).getProperty('line.separator'),'&lt;br /&gt;')}">Legénység</dd>

        <dt class="col-sm-3">Útirány</dt>
        <dd class="col-sm-9" th:text="*{itinerary!=''?itinerary:'nincs adat'}">Útiterv</dd>

        <dt class="col-sm-3">Táv</dt>
        <dd class="col-sm-9" th:text="*{distance+' km'}">Táv</dd>

        <dt class="col-sm-3">Megjegyzés</dt>
        <dd class="col-sm-9" th:text="*{comment!=''?comment:'nincs'}" style="overflow:hidden; word-wrap: break-word">Megjegyzés</dd>

        <dt class="col-sm-3">Adminisztrátor megjegyzése</dt>
        <dd class="col-sm-9" th:text="*{adminComment!=''?adminComment:'nincs'}" style="overflow:hidden; word-wrap: break-word">Adminisztrátor megjegyzése</dd>
    </dl>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Bezárás</button>
</div>
</html>