<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/imports :: imports"></head>
<head>
    <link th:href="@{/css/login.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="container">
        <form class="form-signin" action="" method="post">
            <h2 class="form-signin-heading">Elfelejtett jelszó</h2>
            <label for="email" class="sr-only">E-mail cím</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                <input id="email" type="email" name="emailAddress" class="form-control" placeholder="E-mail cím"
                       required="required" autofocus="autofocus"/>
            </div>
            <br />
            <button class="btn btn-lg btn-primary btn-block" id="submit" type="submit">Elküld</button>
            <div class="checkbox">
                <a th:href="@{/login}">Vissza a belépéshez</a>
            </div>

        </form>
    </div>
<script type="text/javascript" th:src="@{/js/reset_password.js}"></script>
</body>
</html>