<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/imports :: imports"></head>
<head>
    <link th:href="@{/css/login.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container">
    <form class="form-signin" action="" method="post">
        <h2 class="form-signin-heading">Jelszóváltoztatás</h2>
        <label for="password" class="sr-only">Új jelszó</label>
        <div class="input-group"> <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
            <input type="text" class="form-control" onchange="checkPass()" name="password" id="password" placeholder="Új jelszó" required="" />
        </div>

        <label for="confirm" class="sr-only">Jelszó megerősítése</label>
        <div class="input-group"> <span class="input-group-addon"><span class="glyphicon glyphicon-resize-vertical"></span></span>
            <input type="password" class="form-control" onkeyup="checkPass()" name="confirm" id="confirm" placeholder="Jelszó megerősítése" required="" />
        </div>

        <br />
        <button class="btn btn-lg btn-primary btn-block" id="submit" type="submit">Elküld</button>

    </form>
</div>
<script type="text/javascript" th:src="@{/js/reset_password.js}"></script>
</body>
</html>