<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="imports">

    <!--BEE logo for favicon-->
    <link rel="icon" type="image/png" th:href="@{/images/fav.png}" />

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

     <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <!-- Imports for DataTables -->
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.css" />
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>

    <!-- Bootstrap multi-select plugin -->
    <script type="text/javascript" src="js/plugin/bootstrap-multiselect.js"></script>
    <link rel="stylesheet" href="css/plugin/bootstrap-multiselect.css" type="text/css"/>

    <!--Custom css-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bg.css}" />

    <meta charset="UTF-8" />

    <title>Elektronikus hajónapló</title>
</head>
</html>