<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="user-modal">
    <div class="modal fade bs-example-modal-lg" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="userModalLabel">Label</h4>
                </div>
                <div class="modal-body">
                    <dl class="dl-horizontal">
                        <dt>Kereszt név</dt>
                        <dd id="first-name"></dd>
                        <dt>Vezeték név</dt>
                        <dd id="last-name"></dd>
                        <dt>Felhasználó név</dt>
                        <dd id="user-name"></dd>
                        <dt>E-mail cím</dt>
                        <dd id="email-address"></dd>
                        <dt>Születési dátum</dt>
                        <dd id="birth-date"></dd>
                        <dt>Telefonszám</dt>
                        <dd id="phone-number"></dd>
                        <dt>Tudás szint</dt>
                        <dd id="knowledge-level"></dd>
                        <dt>Testsúly</dt>
                        <dd id="weight"></dd>
                        <dt>Státusz</dt>
                        <dd id="active"></dd>
                    </dl>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Bezárás</button>
                </div>
            </div>
        </div>
    </div>
</div>
</html>