<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<div th:fragment="user-table">

        <table id="user-table" class="display">
            <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Birth date</th>
                <th>Knowledge level</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Row 1 Data 1</td>
                <td>Row 1 Data 2</td>
                <td>Row 1 Data 2</td>
                <td>Row 1 Data 2</td>
                <td>Row 1 Data 2</td>
            </tr>
            </tbody>
        </table>

</div>
</html>