<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="enable-ship">
    <div class="modal fade bs-example-modal-lg" id="enableShipsModal" tabindex="-1" role="dialog" aria-labelledby="">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Hajók engedélyezése</h4>
                </div>

                <div class="modal-body">
                    <form class="form-horizontal" id="enableShip" method="post">
                        <div class="form-group">
                            <label class="control-label col-sm-3" th:for="enabled-ships">Hajók</label>
                            <div class="col-sm-3">
                                <select id="enabled-ships" name="enabledShip" class="form-control">
                                    <option th:each="ship : ${allShips}"
                                            th:value="${ship.getId()}"
                                            th:text="${ship.getName()}" />
                                </select>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" form="enableShip">Mentés</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Bezárás</button>
                </div>

            </div>
        </div>
    </div>
</div>

</html>