<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<form th:onsubmit="${}" class="form-horizontal" id="enableShip">
    <div class="form-group">
        <label class="control-label col-sm-3" th:for="chosenShip">Hajók engedélyezése</label>
        <div class="col-sm-3">
            <select id="owners" class="form-control">
                <option th:each="owner : ${owners}"
                        th:value="${owner.getId()}"
                        th:text="${owner.getLastName()} + ' ' + ${owner.getFirstName()}"
                />
            </select>
        </div>

        <div class="col-sm-3">
            <select id="shipsBySubType" class="form-control">
                <option th:each="subType : ${subTypes}"
                        th:value="${subType.getId()}"
                        th:text="${subType.getCode()}" />
            </select>
        </div>

        <div class="col-sm-3">
            <select th:field="*{chosenShip}" id="shipByName" class="form-control" disabled="disabled">
                <option th:each="ship : ${ships}"
                        th:value="${ship.getId()}"
                        th:text="${ship.getName()}" />
            </select>
        </div>
    </div>
</form>
<button type="button" hidden="hidden" th:onclick="${submit}" id="shipPost"></button>

</html>