<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<form th:object="${user}" th:action="${'/admin/users/' + user.id + '/enable_ships'}" method="post" class="form-horizontal" id="shipWhitelistingForm">
    <div class="form-group" id="shipsToWhitelist">
        <div class="container col-sm-12">
            <div class="checkbox">
                <label><strong><input type="checkbox" name="enableAllShips" id="select_all"/>
                    Összes hajó engedélyezése</strong></label>
            </div>
            <table class="table">
                <tr th:each="type : ${allShipsByShipType}">
                    <td class="container col col-sm-2">
                        <div class="row">
                            <div class="checkbox">
                                <label><strong><input class="type_checkbox" type="checkbox" name="shipTypeCheckbox"
                                              th:value="${type.key.id}"
                                              th:text="${type.key.name}"/></strong></label>
                            </div>
                        </div>
                    </td>

                    <td class="container col col-sm-10" style="word-wrap: break-word">
                        <div class="row">
                            <div class="col col-sm-3 checkbox" th:each="ship : ${type.value}">
                                <label><input class="ship_checkbox" type="checkbox" th:field="*{enabledShips}"
                                              th:value="${ship.id}"
                                              th:text="${ship.name}" /></label>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>

</html>