<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="ship-whitelisting-modal">
    <div class="modal fade bs-example-modal-lg" id="shipWhitelistingModal" tabindex="-1" role="dialog" aria-labelledby="shipWhitelistingModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="shipWhitelistingModalLabel">Hajók engedélyezése</h4>
                </div>

                <div class="modal-body" id="ship-whitelistig-modal-body"></div>

                <div class="modal-footer">
                    <button type="submit" id="shipWhitelistingSubmit" class="btn btn-primary" form="shipWhitelistingForm">Mentés</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Mégse</button>
                </div>
            </div>
        </div>
    </div>
</div>
</html>