<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="user-delete">
    <div class="modal fade bs-example-modal-lg" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="deleteModalLabel">Label</h4>
                </div>
                <div class="modal-body">
                    <p>Valóban ki akarja léptetni a felhasználót?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="userDelete" autofocus="">Kiléptetés</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Mégse</button>
                </div>
            </div>
        </div>
    </div>
</div>
</html>