<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="user-table">

        <table id="user-table" class="display">
            <thead>
            <tr>
                <th>Név</th>
                <th>Életkor</th>
                <th>Szint</th>
                <th>Státusz</th>
                <th>Műveletek</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Row 1 Data 1</td>
                <td>Row 1 Data 2</td>
                <td>Row 1 Data 3</td>
                <td>Row 1 Data 4</td>
                <td>Row 1 Data 5</td>
            </tr>
            </tbody>
        </table>
</div>
</html>