<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/imports :: imports"></div>
    <title>Elektronikus hajónapló</title>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container">
    <h1>Evezők</h1>

    <div>
        <a th:href="@{/oars/update/0}" type="button" class="btn btn-md btn-primary">Új evező felvétele</a>
    </div>
    <br />
    <div id="oars-table">
        <div th:replace="oars/oar_table :: oar-table"></div>
        <div th:replace="oars/oar_delete :: oar-delete"></div>
    </div>

</div>
<script type="text/javascript" th:src="@{/js/oar_datatable.js}"></script>
<script type="text/javascript" th:src="@{/js/scripts.js}"></script>
</body>
</html>