<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/imports :: imports"></head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container">
    <h2>Hajónapló</h2>
    <button id="newRental" type="button" class="btn btn-primary" data-toggle="modal" data-target="#rentalModal"
            onclick="rentalModal('/rentals');">Hajóbérlés</button>

    <div id="rental-log">
        <div th:replace="rental_log/rental_update :: rental-update"></div>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/rental_form.js}"></script>
<script type="text/javascript" th:src="@{/js/rental_log_datatable.js}"></script>
<script type="text/javascript" th:src="@{/js/scripts.js}"></script>
<script type="text/javascript" th:src="@{/js/plugin/bootstrap-multiselect.js}"></script>
</body>
</html>