<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/imports :: imports"></head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container">
    <h2>Hajótípusok
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#shipTypeModal"
                onclick="shipTypeModal('/admin/shiptypes/0', 'Új');">Új típus felvétele</button>
    </h2>

    <div th:replace="shiptypes/shiptype_table :: shiptype-table"></div>
    <div th:replace="shiptypes/shiptype_update:: shiptype-update"></div>
    <div th:replace="shiptypes/shiptype_delete :: shiptype-delete"></div>
    <div th:replace="subtypes/subtype_update:: subtype-update"></div>

</div>
<script type="text/javascript" th:src="@{/js/shiptype_datatable.js}"></script>
<script type="text/javascript" th:src="@{/js/subtype_datatable.js}"></script>
<script type="text/javascript" th:src="@{/js/scripts.js}"></script>
</body>
</html>