<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="ship-form">

    <form th:object="${ship}" th:onsubmit="${validate}" class="form-horizontal" id="shipForm">
        <input type="hidden" th:field="*{id}" />

        <div class="form-group" th:classappend="${#fields.hasErrors('name')} ? 'has-error has-feedback'">
            <label class="control-label col-sm-4" th:for="name">Hajó neve</label>
            <div class="col-sm-8">
                <input th:field="*{name}" type="text" class="form-control" placeholder="Hajó neve" autofocus=""/>
                <div th:errors="*{name}"></div>

            </div>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('code')} ? 'has-error has-feedback'">
            <label class="control-label col-sm-4" th:for="code">Hajó kódja</label>
            <div class="col-sm-8">
                <input th:field="*{code}" type="text" class="form-control" placeholder="pl. 2x-" />
                <div th:errors="*{code}"></div>
            </div>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('maxSeat')} ? 'has-error has-feedback'">
            <label class="control-label col-sm-4" th:for="maxSeat">Beülők száma</label>
            <div class="col-sm-8">
                <input th:field="*{maxSeat}" type="number" min="1" max="25" class="form-control" required="" />
                <div th:errors="*{maxSeat}">Username Error</div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4" th:for="coxed">Kormányos</label>
            <div class="col-sm-8">
                <div class="checkbox">
                    <input th:field="*{coxed}" type="radio" class="form-check-input" id="coxed" th:value="true" />
                    Kormányos
                </div>
            </div>

            <div class="col-sm-4"></div>
            <div class="col-sm-8">
                <div class="checkbox">
                    <input th:field="*{coxed}" type="radio" class="form-check-input" id="coxless" th:value="false" />
                    Kormányos nélküli
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4"  th:for="category">Kategória</label>
            <div class="col-sm-8">
                <select th:field="*{category}" class="form-control">
                    <option th:each="category : ${T(com.codecool.eshipdiary.model.Ship.Category).values()}"
                            th:value="${category}"
                            th:text="${category}" />
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4" th:for="ship_type">Típus</label>
            <div class="col-sm-8">
                <select th:field="*{shipType}" class="form-control">
                    <option th:each="shipType : ${T(com.codecool.eshipdiary.model.Type).values()}"
                            th:value="${shipType}"
                            th:text="${shipType}" />
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4" th:for="owner">Hajó tulajdonosa</label>
            <div class="col-sm-8">
                <select th:field="*{owner}" class="form-control">
                    <option th:value="0">Klub tulajdona</option>
                    <option th:each="owner : ${users}"
                            th:value="${owner.getId()}"
                            th:text="${owner.getLastName() + ' ' + owner.getFirstName()}" />
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4" th:for="place">Hajó helye</label>
            <div class="col-sm-8">
                <input th:field="*{place}" type="text" class="form-control" placeholder="Hajó helye" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4" th:for="notes">Megjegyzések</label>
            <div class="col-sm-8">
                <input th:field="*{notes}" type="text" class="form-control" placeholder="Megjegyzések" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4" for="active">Státusz</label>
            <div class="col-sm-8">
                <div class="checkbox">
                    <input th:field="*{active}" type="radio" class="form-check-input" id="active" th:value="true" /> Aktív
                </div>
            </div>
            <div class="col-sm-4"></div>
            <div class="col-sm-8">
                <div class="checkbox">
                    <input th:field="*{active}" type="radio" class="form-check-input" id="inactive" th:value="false" /> Inaktív
                </div>
            </div>
        </div>
    </form>

    <button type="button" hidden="hidden" th:onclick="${submit}" id="shipPost"></button>

</div>
</html>