<!DOCTYPE html>
<html lang="hu" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8" />
<body>
<div class="container">
    <h2>Kedves <strong th:text="${user.getLastName()} + ' ' + ${user.getFirstName()} + '!'"></strong></h2>
    <p>Az elektronikus hajónapló oldalán jelezted, hogy nem emlékszel a bejelentkezéshez szükséges adataidra. Itt a segítség:</p>
    <p th:text="'A felhasználóneved: ' + ${user.getUserName()}"></p>
    <p>A jelszót <a th:href="${link}">ezen a linken</a> tudod módosítani.
        A link a kéréstől vett 24 órán belül érvényes, vagy amíg új linket nem kérsz.
        Ha a jelszócserét nem te kérted, tekintsd ezt az üzenetet tárgytalannak.
    </p>

</div>
</body>
</html>
